.panel.hide-on-phones
  :markdown
    #### Contents
    ---
    * [Welcome](/)
    * [Getting Started](/getting-started)
      * [Requirements](/getting-started#requirements)
      * [Install](/getting-started#install)
      * [Set Target](/getting-started#target)
      * [Register](/getting-started#resgister)
    * [Deploy an App](/deploy)
    * [About](/about)