.topbar
  .topbar-inner
    .container
      a.brand(href='#')= title
      ul#nav
        li: a(href='/') Home
        li.active: a(href='/config') 1. Configure
        li: a(href='/register') 2. Register
        li: a(href='/deploy') 3. Deploy

.container
  h1 Configure

.container
  .offset3.well
    ul
      li
        h2 gem install vmc --no-ri --no-rdoc
    .pull-right
      a.btn.primary(href='/register') Next
      
