include shared/topbar
.container
  .row
    .four.columns
      include shared/index
    .eight.columns
      .panel
        h2 Welcome to Wilbur.io
        .subheader.
          Wilbur.io is a cloud application hosting platform.

      .row
        .six.columns
          :markdown
            ### Limited Frameworks

            Wilbur.io focuses on managing application instances for
            the following frameworks:

            * Rails
            * Sinatra
            * NodeJs

            Our expertise is in these frameworks, so wilbur.io should only support
            the frameworks and tools that we can provide expert services in.

        .six.columns
          :markdown
            ### No Databases

            Your data belongs to you!  So Wilbur.io does not provide any
            data hosting of any kind, there are plenty of data hosting 
            services out there that you can use.  Wilbur.io focuses on 
            managing and scaling your applications.

            ### Getting Started

            It's Easy to get started, just follow the directions [here](/getting-started)