/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
body {
  margin: 0;
}

pre {
  margin: 5px 0px;
  padding: 10px 5px;
  border: 1px solid rgba(0,0,0,.8);
  background-color: #FFFFED;
}





/* -----------------------------------------
   Page Name 1
----------------------------------------- */






/* -----------------------------------------
   Page Name 2
----------------------------------------- */


