#register
  :markdown
    ### Register
    
    To create an account, all you need to do is enter your
    email address and password.
  pre.prettyprint.lang-sh
    |    
    |    # vmc register
    |    #> Email: user@example.com
    |    #> Password: *******
    |    #> Confirm Password: ********
    |    
  