#requirements
  :markdown
    ### Requirements
  
    Please make sure you have at least 1.8.7 or 1.9.2 versions
    of Ruby and Rubygems installed.  You can check this on your command prompt.
  
  pre.prettyprint.lang-sh
    | 
    |   # ruby -v
    |   #> ruby 1.8.7
    |   
    |   # gem -v
    |   #> 1.6.2
    |   
